<div class="form create-section">

   <div class="my-step">
      <div class="my-step-item "><span class="point"></span>选择兑换文件</div>
      <div class="my-step-item "><span class="point"></span>选择兑换条件</div>
      <div class="my-step-item active"><span class="point"></span>提交要件</div>
   </div>

   <form class="row g-3 create-form-step3">
      <legend>
         <p class="h3 mb-4">提交文件</p>
      </legend>

      <div class="mb-4">
         <label for="disabledTextInput" class="form-label">企业基本信息</label>
         <input name="input1" type="text" id="disabledTextInput" class="form-control" placeholder="企业基本信息">
      </div>

      <div class="mb-4">
         <label for="disabledTextInput" class="form-label">申请金额</label>
         <input name="input2" type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
      </div>

         <!-- 多项输入开始 -->
      <div class="multi-form-control">

         <!-- 第一项开始 -->
         <div class="multi-form-control-item mb-4">
            <div class="row">

               <div class="col">
                  <div class="multi-form-control-item-title mb-2">
                     输入项1
                  </div>

                  <div class="mb-4">
                     <label for="disabledTextInput" class="form-label">申请金额</label>
                     <input name="input2" type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
                  </div>

                  <div id="file1" class="my-file-input mb-4">
                     <img src="/images/login-cover.jpg" class="my-file-input-img" />
                     <div class="my-file-input-text"></div>
                     <div class="my-file-input-error"></div>
                     <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传营业执照</button>
                     <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
                     <input name="file1" class="my-file-input-input" type="file" />
                  </div>
               </div>

               <div class="col-auto">
                  <!-- 第一项的button class  -->
                  <button type="button" class="btn btn-primary">
                     <i class="bi bi-plus-lg"></i>
                  </button>
               </div>
            </div>

         </div>
         <!-- 第一项结束 -->


         <!-- 第二项开始 -->

         <div class="multi-form-control-item mb-4">
            <div class="row">

               <div class="col">
                  <div class="multi-form-control-item-title mb-2">
                     输入项2
                  </div>
                  <div class="mb-4">
                     <label for="disabledTextInput" class="form-label">申请金额</label>
                     <input name="input2" type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
                  </div>

                  <div id="file1" class="my-file-input mb-4">
                     <img src="/images/img101.png" class="my-file-input-img" />
                     
                     <div class="my-file-input-text"></div>
                     <div class="my-file-input-error"></div>
                     <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传营业执照</button>
                     <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
                     <input name="file1" class="my-file-input-input" type="file" />
                  </div>
               </div>

               <div class="col-auto">
                  <button type="button" class="btn btn-danger">
                     <i class="bi bi-dash-lg"></i>
                  </button>
               </div>
            </div>

         </div>
         <!-- 第二项结束 -->


   
         
      </div>

         <!-- 多项输入结束 -->


      <div id="file1" class="my-file-input mb-4">
         <div class="my-file-input-text"></div>
         <div class="my-file-input-error"></div>
         <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传营业执照</button>
         <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
         <input name="file1" class="my-file-input-input" type="file" />
      </div>

      <div id="file2" class="my-file-input mb-4">
         <div class="my-file-input-text"></div>
         <div class="my-file-input-error"></div>
         <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传企业用户信息单</button>
         <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
         <input name="file2" class="my-file-input-input" type="file" />
      </div>

      <div class="mb-4">
         <label for="disabledTextInput" class="form-label">入驻协议</label>
         <input type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
      </div>

      <div id="file3" class="my-file-input mb-4">
         <div class="my-file-input-text"></div>
         <div class="my-file-input-error"></div>
         <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传文件</button>
         <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
         <input name="file3" class="my-file-input-input" type="file" />
      </div>


      <div class="d-flex justify-content-evenly">
         <a href="/create2.html"><button type="button" class="btn btn-outline-primary">上一步</button></a>
         <button type="submit" class="btn btn-primary">下一步</button>
      </div>

      <script type="module" src="/src/partials/create3/main.ts"></script>

   </form>
</div>