<div class="container-sm">
   <div class="paper">
      <div class="form">

         <div class="my-step">
            <div class="my-step-item active"><span class="point"></span>选择兑换文件</div>
            <div class="my-step-item "><span class="point"></span>选择兑换条件</div>
            <div class="my-step-item "><span class="point"></span>提交要件</div>
         </div>

         <form class="row g-3 create-form-step3">
            <legend>
               <p class="h3 mb-4">选择兑换文件</p>
            </legend>

            <div class="form-check my-form-check mb-3">
               <input name="checkbox1" class="form-check-input" type="checkbox" value="" id="checkbox1">
               <label class="form-check-label" for="checkbox1">
                  <h6>
                     温情21条
                  </h6>
                  <p>
                     哈尔滨新区印发关于支持企业有效应对疫情安全有序复工复产的政策措施的通知
                  </p>
               </label>
            </div>

            <div class="form-check my-form-check mb-3">
               <input name="checkbox2" class="form-check-input" type="checkbox" value="" id="checkbox2">
               <label class="form-check-label" for="checkbox2">
                  <h6>
                     黄金30条
                  </h6>
                  <p>
                     哈尔滨新区印发关于支持企业有效应对疫情安全有序复工复产的政策措施的通知
                  </p>
               </label>
            </div>

            <div class="form-check my-form-check mb-3">
               <input name="checkbox3" class="form-check-input" type="checkbox" value="" id="checkbox3">
               <label class="form-check-label" for="checkbox3">
                  <h6>
                     新区25条
                  </h6>
                  <p>
                     哈尔滨新区印发关于支持企业有效应对疫情安全有序复工复产的政策措施的通知
                  </p>
               </label>
            </div>

            <div class="d-flex justify-content-evenly">
               <a href="/create2.html"><button type="button" class="btn btn-outline-primary">上一步</button></a>
               <button type="submit" class="btn btn-primary">下一步</button>
            </div>

            <script type="module" src="/src/partials/create3/main.ts"></script>

         </form>



      </div>

   </div>
</div>