<div class="form create-section">

   <div class="my-step">
      <div class="my-step-item "><span class="point"></span>选择兑换文件</div>
      <div class="my-step-item active"><span class="point"></span>选择兑换条件</div>
      <div class="my-step-item "><span class="point"></span>提交要件</div>
   </div>

   <form class="row g-3 create-form-step2">
      <legend>
         <p class="h3 mb-4">选择兑换条款</p>
      </legend>

      <div class="form-check my-form-check-2 mb-3">
         <input name="checkbox1" class="form-check-input" type="checkbox" value="" id="checkbox1">
         <label class="form-check-label" for="checkbox1">
            <h6 class="label-title">
               <div class="row">
                  <div class="col">
                     积极扩大对外贸易
                     <button class="btn btn-primary btn-sm" type="button">
                        政策详情 >
                     </button>
                  </div>
                  <div class="col-auto">
                     <button type="button" class="btn btn-link" data-bs-toggle="collapse"
                        data-bs-target="#checkbox1-label-content" aria-expanded="false"
                        aria-controls="checkbox1-label-content">展开</button>

                  </div>
               </div>

            </h6>
            <div class="collapse" id="checkbox1-label-content">
               <br>

               <p>
                  1.限上外商投资企业和年进出口额超过200万美元（海关统计）的外贸企业，每年对地方经济发展的贡献（区本级留成部分）全额奖励给企业。
               </p>
               <p>
                  2.对片区重大改革创新具有示范引领作用的外向型总部经济项目，采取“一事一议”的方式，给予最高不超过投资总额5%的奖励
               </p>

            </div>

         </label>
      </div>

      <div class="form-check my-form-check-2 mb-3">
         <input name="checkbox2" class="form-check-input" type="checkbox" value="" id="checkbox2">
         <label class="form-check-label" for="checkbox2">
            <h6 class="label-title">
               <div class="row">
                  <div class="col">
                     积极扩大对外贸易
                     <button class="btn btn-primary btn-sm" type="button">
                        政策详情 >
                     </button>
                  </div>
                  <div class="col-auto">
                     <button type="button" class="btn btn-link" data-bs-toggle="collapse"
                        data-bs-target="#checkbox2-label-content" aria-expanded="false"
                        aria-controls="checkbox2-label-content">展开</button>

                  </div>
               </div>

            </h6>
            <div class="collapse" id="checkbox2-label-content">
               <br>

               <p>
                  1.限上外商投资企业和年进出口额超过200万美元（海关统计）的外贸企业，每年对地方经济发展的贡献（区本级留成部分）全额奖励给企业。
               </p>
               <p>
                  2.对片区重大改革创新具有示范引领作用的外向型总部经济项目，采取“一事一议”的方式，给予最高不超过投资总额5%的奖励
               </p>

            </div>

         </label>
      </div>






      <div class="form-check my-form-check-2 mb-3">
         <input name="checkbox3" class="form-check-input" type="checkbox" value="" id="checkbox3">
         <label class="form-check-label" for="checkbox3">
            <h6 class="label-title">
               <div class="row">
                  <div class="col">
                     积极扩大对外贸易
                     <button class="btn btn-primary btn-sm" type="button">
                        政策详情 >
                     </button>
                  </div>
                  <div class="col-auto">
                     <button type="button" class="btn btn-link" data-bs-toggle="collapse"
                        data-bs-target="#checkbox3-label-content" aria-expanded="false"
                        aria-controls="checkbox3-label-content">展开</button>

                  </div>
               </div>

            </h6>
            <div class="collapse" id="checkbox3-label-content">
               <br>

               <p>
                  1.限上外商投资企业和年进出口额超过200万美元（海关统计）的外贸企业，每年对地方经济发展的贡献（区本级留成部分）全额奖励给企业。
               </p>
               <p>
                  2.对片区重大改革创新具有示范引领作用的外向型总部经济项目，采取“一事一议”的方式，给予最高不超过投资总额5%的奖励
               </p>

            </div>

         </label>
      </div>





      <div class="d-flex justify-content-evenly foot">
         <a href="/create.html"><button type="button" class="btn btn-outline-primary">上一步</button></a>
         <a href="/create3.html"><button type="submit" class="btn btn-primary">下一步</button></a>
      </div>

      <script type="module" src="/src/partials/create2/main.ts"></script>

   </form>

</div>