<div class="profile-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="logo" src="/public/images/logo.png" alt="" />
            </div>
            <div class="col-auto">
                <div class="user">
                    <div class="nickname">
                        Admin
                    </div>
                    <div class="avatar" style="background-image:url()">
                    </div>
                </div>
                <button type="button" class="btn btn-light">
                    <i class="bi bi-plus-lg"></i>
                新的兑现</button>
            </div>
        </div>
    </div>
</div>
