<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
</head>

<body>
  <div id="app"></div>
  <!-- header开始 -->
  {{> header }}
  <!-- header结束 -->

  <div class="detail_page">
    <!-- content开始 -->
    {{> profile/secition1 }}
    <!-- content结束 -->
  </div>

  <!-- footer开始 -->
  {{> footer }}
  <!-- footer结束 -->

  <script type="module" src="/src/main.ts"></script>

</body>

</html>