<div class="container-sm section content">

    <div class="row align-items-center my-table-list-header">
        <div class="col">
            <div class="page-title">
                我的兑现
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                        新的兑现
            </button>  
        </div>
    </div>


   <ul class="my-table-list">
      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">

            <p class="h4">
               <a href="/detail.html">
                  图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
               </a>
            </p>
            <p class="h5">
               兑现条款：鼓励总部企业落户
            </p>
         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col mt-4">
                  <div class="row">
                     <div class="col-auto">
                        责任部门：税务局
                     </div>
                     <div class="col-auto">
                        
                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto mt-4">
                  <div class="float-end">
                     <button class="btn-primary mx-4">撤回</button>
                     <button class="btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>


      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">

            <p class="h4">
               <a href="/detail.html">
                  图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
               </a>
            </p>
            <p class="h5">
               兑现条款：鼓励总部企业落户
            </p>
         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col mt-4">
                  <div class="row">
                     <div class="col-auto">
                        责任部门：税务局
                     </div>
                     <div class="col-auto">
                        
                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto mt-4">
                  <div class="float-end">
                     <button class="btn-primary mx-4">撤回</button>
                     <button class="btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>


      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">

            <p class="h4">
               <a href="/detail.html">
                  图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
               </a>
            </p>
            <p class="h5">
               兑现条款：鼓励总部企业落户
            </p>
         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col mt-4">
                  <div class="row">
                     <div class="col-auto">
                        责任部门：税务局
                     </div>
                     <div class="col-auto">
                        
                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto mt-4">
                  <div class="float-end">
                     <button class="btn-primary mx-4">撤回</button>
                     <button class="btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>


      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">

            <p class="h4">
               <a href="/detail.html">
                  图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
               </a>
            </p>
            <p class="h5">
               兑现条款：鼓励总部企业落户
            </p>
         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col mt-4">
                  <div class="row">
                     <div class="col-auto">
                        责任部门：税务局
                     </div>
                     <div class="col-auto">
                        
                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto mt-4">
                  <div class="float-end">
                     <button class="btn-primary mx-4">撤回</button>
                     <button class="btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>



      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">

            <p class="h4">
               <a href="/detail.html">
                  图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
               </a>
            </p>
            <p class="h5">
               兑现条款：鼓励总部企业落户
            </p>
         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col mt-4">
                  <div class="row">
                     <div class="col-auto">
                        责任部门：税务局
                     </div>
                     <div class="col-auto">
                        
                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto mt-4">
                  <div class="float-end">
                     <button class="btn-primary mx-4">撤回</button>
                     <button class="btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>




      
   </ul>
</div>