<div class="profle">
   <div class="user">
      <div class="avatar">

      </div>
      <div class="name">
         Admin <a href="#"><i class="bi bi-pencil"></i></a>
      </div>
   </div>
   <div class="userinfo">
      <table>
         <tr>
            <td>
               联系手机
            </td>
            <td>
               186****4569
            </td>
            <td><a href="#">修改 ></a></td>
         </tr>

         <tr>
            <td>
               微信
            </td>
            <td>
               Hanyu
            </td>
            <td>
               <a href="#">修改 ></a>
               <a href="#">解绑 ></a>

            </td>
         </tr>
      </table>
   </div>

   <button type="button" class="btn btn-lg logout btn-outline-primary">退出登录</button>
</div>