<div class="cms_layout-side">
    <a class="logo" href="/profile.html"><img  src="/images/logo.png" alt="" /></a>

    <h1 class="title">新区惠政策兑现平台</h1>

    <div class="container">
        <ul class="nav-list">
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#">
                    <i class="bi bi-currency-yen"></i>
                    我的兑现</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-briefcase-fill"></i>
                    我的项目</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-info-circle-fill"></i>
                    企业信息 </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-person-circle"></i>
                    用户信息 </a>
            </li>
        </ul>
    </div>
</div>