.login-section {
    .cover {
        width: 100%;
        // padding-top: 140%;
        // height: 0;
        // background-image: url(/images/login-cover.jpg);
        // background-size: cover;
        max-width: 500px;
    }

    .hr {
        border-left: 1px solid #eee;
    }
}

.login-form {
    max-width: 400px;
    margin: 0 auto;

    .title {
        font-size: 36px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #000000;
        line-height: 42px;
    }

    .p {
        margin-top: 10px;
        height: 38px;
        font-size: 16px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #000000;
        line-height: 19px;
    }

    .form-control {
        height: 48px;
    }

    .btn.code {
        height: 48px;
    }

    .code-img {
        width: 137px;
        height: 48px;
    }

    .btn.wechat {
        background-color: #23AC3A;
        border-color: #23AC3A;
        display: flex;
        align-items: center;

        .icon.wechat {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url(/images/wechat.svg);
            margin-right: 12px;
        }
    }

    @include media-breakpoint-down(sm) {
        .btn.wechat {
            width: 100%;
            justify-content: center;
        }
    }
}