<div class="login-section">
   <div class="row">
      <div class="col-sm">
         <div class="login-form">

            <div class="mb-5">
               <h3 class="title">
                  登录/注册
               </h3>
               <p class="p">登录您的兑现账户，更快查询政策兑现情况及历史兑现，
                  并管理您的个人账户信息，企业信息。</p>
            </div>

            <div class="mb-5">
               <form>
                  <div class="mb-4">
                     <label for="phone" class="form-label">手机</label>
                     <input placeholder="这里是内容" type="email" class="form-control" id="phone"
                        aria-describedby="emailHelp">
                     {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                     --}}
                  </div>


                  <div class="mb-4">
                     <label for="phone" class="form-label">验证码</label>

                     <div class="row">
                        <div class="col">
                           <input placeholder="这里是内容" type="email" class="form-control" id="phone"
                              aria-describedby="emailHelp">
                        </div>
                        <div class="col-auto">
                           <div class="code-img" style="background-image:url(/images/code-image.jpg)"></div>
                        </div>
                     </div>

                     {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                     --}}
                  </div>

                  <div class="mb-5">
                     <label for="phone" class="form-label">手机验证码</label>

                     <div class="row">
                        <div class="col">
                           <input placeholder="这里是内容" type="email" class="form-control" id="phone"
                              aria-describedby="emailHelp">
                        </div>
                        <div class="col-auto">
                           <button type="button" class="btn btn-primary code">发送验证码</button>
                        </div>
                     </div>

                     {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                     --}}
                  </div>

                  <div class="d-grid gap-2">
                     <button type="submit" class="btn btn-lg btn-primary">登录/注册</button>
                  </div>

               </form>
            </div>

            <div class="social">
               <button type="submit" class="btn wechat btn-lg btn-primary"><i class="icon wechat"></i> 使用微信快捷登录</button>
            </div>


         </div>
      </div>

      <div class="col-auto hr"></div>
      <div class="col-sm d-none d-md-block">
         <img src="/images/login-cover.jpg" alt="" class="cover">
      </div>
   </div>
</div>