<div class="cms_layout-header-mobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/cash.html"><img class="logo" src="/images/logo.png" alt="" /></a>
            </div>
            <div class="col-auto">
                <div class="user">
                    <div class="nickname">
                        Admin
                    </div>
                    <div class="avatar" style="background-image:url()">
                    </div>
                </div>
                <a href="/createproject.html">
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-plus-lg"></i>
                        新的兑现</button></a>
                        
            </div>
        </div>




    </div>

    <div class="cms_layout-nav-tabs container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/cash.html">
                    <i class="bi bi-currency-yen"></i>
                    我的兑现</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/project.html">
                    <i class="bi bi-briefcase-fill"></i>
                    我的项目</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/company.html">
                    <i class="bi bi-info-circle-fill"></i>
                    企业信息 </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/profile.html">
                    <i class="bi bi-person-circle"></i>
                    用户信息 </a>
            </li>

        </ul>
    </div>


</div>