<div class="container-sm section content project">

   <div class="row align-items-center my-table-list-header">
      <div class="col">
         <div class="page-title">
            我的兑现
         </div>
      </div>
      <div class="col-auto">
         <a href="/createproject.html"><button class="btn btn-primary">
               <i class="bi bi-plus-lg"></i>
               新的兑现
            </button>
         </a>
      </div>
   </div>


   <ul class="my-table-list">
      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

<li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

      <li class="my-table-list-item">
         <div class="list-item-header">
            <div class="row">
               <div class="col">
                  提交日期：2021-09-08
               </div>
               <div class="col-auto">
                  ¥60,000
               </div>
            </div>
         </div>
         <div class="list-item-content">
            <div class="row">
               <div class="col-auto">
                  <div class="cover"></div>
               </div>
               <div class="col">
                  <p class="h4">
                     <a href="/detail.html">
                        项目名称：XXXX项目
                     </a>
                  </p>
                  <p class="h5">
                     成立于1999年的苏州康斯坦普工程塑料有限公司是生产塑料母料和复合物的外商独资企业，原由德国康斯坦普公司在中国投资建立，现为同属以色列Kafrit集团旗下的子公司。苏州康斯坦普和德国康斯坦普产品结构一致，制造设备、技术和生产精细化管理理念来自德国。公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。我们的主要业务是为BOPP薄膜、CPP薄膜、农业和其他包装膜提供产品解决方案。
                  </p>
               </div>
            </div>


         </div>

         <div class="list-item-footer">
            <div class="row align-item-center">
               <div class="col">
                  <div class="row">

                     <div class="col-auto">

                        <span class="badge rounded-pill bg-success">已受理</span>
                     </div>
                     <div class="col-auto">
                        <a href="">查看审批流程 ></a>
                     </div>
                  </div>

               </div>
               <div class="col-md-auto">
                  <div class="float-end">
                     <button class="btn btn-sm btn-primary mx-4">撤回</button>
                     <button class="btn btn-sm btn-danger">删除</button>
                  </div>
               </div>
            </div>
         </div>

      </li>

   </ul>
</div>