<div class="cms_layout-header-pc">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="/">
                            <button type="button" class="btn btn-icon btn-lg">
                                <i class="bi bi-house-fill"></i>
                            </button>
                        </a>
                    </div>

                    <div class="col">
                        <div class="user">
                            <div class="nickname">
                                Admin
                            </div>
                            <div class="avatar" style="background-image:url()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

