<div class="company">

         <h3 class="title mb-5">
            企业资料
            <span class="badge bg-primary">已认证</span>
         </h3>
         <p class="p">
            企业名称:
            <strong>XXXXX有限责任公司</strong>
         </p>
         <p class="p">
            社会统一编码:
            <strong>2328948234059234055</strong>
         </p>

         <hr class="hr">

         <p>营业执照照片</p>

         <div class="img">

         </div>

         <p class="p">
            营业执照注册日期:
            <strong>2012-12-30</strong>
         </p>

         <p class="p">
            开户行:
            <strong>哈尔滨XXXX支行</strong>
         </p>

         <p class="p">
            开户许可证照片
         </p>

         <div class="img">
            
         </div>

         <p class="p">
            银行账号:
            <strong>1232 3423 4354 6123</strong>
         </p>


</div>