<div class="company">

         <h3 class="title mb-5">
            法人/联系人
         </h3>
         <p class="p">
            法人姓名：
            <strong>王某某</strong>
         </p>
         <p class="p">
            法人身份证号：
            <strong>230122194420290930</strong>
         </p>


         <p class="p">身份证照片</p>

         <div class="img">

         </div>

         <p class="p">上传正面照片</p>

         <hr class="hr">

         <p class="p">
            
联系电话：
            <strong>186****1234</strong>
         </p>

         <p class="p">
            联系人：
            <strong>王某某</strong>
         </p>

         <div class="mb-5"></div>

        <button type="button" class="btn btn-lg btn-primary">修改资料</button>

        <button type="button" class="btn btn-lg btn-outline-primary mx-3">注销账户</button>

</div>