<div class="company">

   <h3 class="title mb-5">
      法人/联系人
   </h3>
   <p class="p">
      法人姓名：
      <strong>王某某</strong>
   </p>
   <p class="p">
      法人身份证号：
      <strong>230122194420290930</strong>
   </p>


   <p class="p">身份证照片</p>

   <div class="img">

   </div>

   <p class="p">上传正面照片</p>

   <hr class="hr">

   <p class="p">

      联系电话：
      <strong>186****1234</strong>
   </p>

   <p class="p">
      联系人：
      <strong>王某某</strong>
   </p>

   <div class="mb-5"></div>

   <hr class="hr">

   <p class="p">

      企业简介：
      <br>
   <p>
      <strong>成立于1999年的苏州康斯坦背工程塑料有限公司是生产型料母料和复合物的外商独资企
原由街咖康斯坦普公司在中血投资建立，
现为同居以色列Kafrit集团旗下的子公司。
;苏州家斯坦蓄和德国康斯坦普产品結梅
制造设备、 技术和生帝精細化管理理念来
自德国。
公司成立以来,一直致力于为世界各地知名客户提供高品质和高附加值的产品。
我们的主差业务是为BOPP薄膜、CPP薄膜．农业和其他包装膜提供产品解决方案。</strong>
   </p>
   </p>

   <div class="mb-5"></div>


   <button type="button" class="btn btn-lg btn-primary">修改资料</button>

   <button type="button" class="btn btn-lg btn-outline-primary mx-3">注销账户</button>

</div>