<!-- partials/footer.hbs -->


<footer class="footer">
<div class="container ">

    <div class="footer-title">
        友情链接
    </div>
    <div class="links">
        <div class="link">
            <a href="#">松北政府官网</a>
        </div>

        <div class="link">
            <a href="#">松北政府官网</a>
        </div>

        <div class="link">
            <a href="#">松北政府官网</a>
        </div>

        <div class="link">
            <a href="#">松北政府官网</a>
        </div>

        <div class="link">
            <a href="#">松北政府官网</a>
        </div>
    
    </div>       
</div>

</footer>
