<!-- partials/header.hbs -->
<header class="home_page_header">

<div class="container ">
    <div class="row justify-content-md-end pt-4">
      <div class="col-md-auto ">
        <button type="button" class="btn btn-primary mx-4">登录</button>
        <button type="button" class="btn btn-outline-primary">注册</button>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">

      <a class="navbar-brand" href="#">
        <!-- logo开始 -->
        <div class="logo"></div>
        <!-- logo结束 -->
      </a>

      <div class="row">
        <div class="col-md-auto">
        </div>
        <div class="col">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- 顶部导航开始 -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {{#each navList}}
              <li class="nav-item">
                <a class="nav-link" href="{{url}}">{{title}}</a>
              </li>
              {{/each}}
            </ul>
            <!-- 顶部导航结束 -->
          </div>
        </div>
      </div>

    </div>
  </nav>


  <div class="container search-container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="search">
          <form class="d-flex">
            <select class="form-select " aria-label=".form-select-lg example">
              <option selected="true" value="文章">文章</option>
              <option value="文章">文章</option>
              <option value="文章">文章</option>
              <option value="文章">文章</option>
            </select>
            <input class="form-control" type="search" placeholder="搜索内容..." aria-label="Search">
            {{!-- <button class="btn btn-outline-success" type="submit">搜索内容...</button> --}}
          </form>
        </div>
      </div>
    </div>
  </div>

</header>