<div class="create-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">

                </div>
            </div>
            <div class="col"></div>
            <div class="col-auto">
                <div class="user">
                    <div class="nickname">
                        Admin
                    </div>
                    <div class="avatar" style="background-image:url()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>