<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title><script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div id="app"></div>

  <div class="cms_layout">

    <!-- 侧边开始 -->
    {{> cash/side }}
    <!-- 侧边结束 -->

    <!-- header开始 -->
    {{> cash/header1 }}
    {{> cash/header2 }}
    <!-- header结束 -->

    <div class="cms_layout-content">
      <div class="cms_layout-papper">
        <div class="container">
          <!-- content开始 -->
          {{> create/secition1 }}
          <!-- content结束 -->
        </div>

      </div>
    </div>

    <!-- footer开始 -->
    {{> footer }}
    <!-- footer结束 -->
  </div>


  <script type="module" src="/src/main.ts"></script>

</body>

</html>