<div class="container-sm">
   <div class="paper">
      <div class="form">

         <div class="my-step">
            <div class="my-step-item active"><span class="point"></span>选择兑换文件</div>
            <div class="my-step-item "><span class="point"></span>选择兑换条件</div>
            <div class="my-step-item "><span class="point"></span>提交要件</div>
            <div class="my-step-item "><span class="point"></span>提交要件</div>
         </div>

         <form>
            <fieldset>
               <legend>
                  <p class="h3 mb-4">提交文件</p>
               </legend>
               <div class="mb-4">
                  <label for="disabledTextInput" class="form-label">企业基本信息</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="企业基本信息">
               </div>
               <div class="mb-4">
                  <label for="disabledTextInput" class="form-label">申请金额</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
               </div>

               <div class="file mb-4">
                  <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传营业执照</button>
                  <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
               </div>

               <div class="file mb-4">
                  <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传企业用户信息单</button>
                  <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
               </div>

               <div class="mb-4">
                  <label for="disabledTextInput" class="form-label">入驻协议</label>
                  <input type="text" id="disabledTextInput" class="form-control" placeholder="申请金额">
               </div>

               <div class="file mb-4">
                  <button type="submit" class="btn btn-primary"><i class="bi bi-cloud-upload"></i> 上传文件</button>
                  <div class="label">上传支持.jpg,.jpeg,.png,.bmp,.pdf</div>
               </div>
               {{!-- <div class="mb-4">
                  <label for="disabledSelect" class="form-label">Disabled select menu</label>
                  <select id="disabledSelect" class="form-select">
                     <option>Disabled select</option>
                  </select>
               </div>
               <div class="mb-4">
                  <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                     <label class="form-check-label" for="disabledFieldsetCheck">
                        Can't check this
                     </label>
                  </div>
               </div> --}}
      

            </fieldset>
         </form>


                  <div class="d-flex justify-content-evenly">
                  <button type="submit" class="btn btn-outline-primary">上一步</button>
                  <a href="/profile.html"><button type="submit" class="btn btn-primary">下一步</button></a>
               </div>
      </div>

   </div>
</div>