<div id="carouselExampleCaptions" class="carousel slide my-carousel" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div src="..." class="d-block w-100 my-img" alt="..."></div>
            <div class="carousel-caption">
                <div class="carousel-caption-title">
                    <span>
                        新区头条
                    </span>
                </div>
                <h5>哈尔滨新区入选2020年中国冰雪旅游十强县/区
                    哈尔滨新区智能轨道快运系统1号线项目开工</h5>
                <p> 哈尔滨新区是中国国务院于2015年12月16日批复同意设立。包括哈尔滨市松北区、呼兰区、平房区三区的部分区域，规划面积493平方公里。哈尔滨新区区位条件优越、科技和产业基础比较雄厚、生态环境优良、对俄合作历史悠久、战略地位重要。哈尔滨新区也是中国唯一的以对俄合作为主题的国家级新区和最北部的国家级新区...
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div src="..." class="d-block w-100 my-img" alt="..."></div>
            <div class="carousel-caption">
                <div class="carousel-caption-title">
                    <span>
                        新区头条
                    </span>
                </div>
                <h5>哈尔滨新区入选2020年中国冰雪旅游十强县/区
                    哈尔滨新区智能轨道快运系统1号线项目开工</h5>
                <p> 哈尔滨新区是中国国务院于2015年12月16日批复同意设立。包括哈尔滨市松北区、呼兰区、平房区三区的部分区域，规划面积493平方公里。哈尔滨新区区位条件优越、科技和产业基础比较雄厚、生态环境优良、对俄合作历史悠久、战略地位重要。哈尔滨新区也是中国唯一的以对俄合作为主题的国家级新区和最北部的国家级新区...
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div src="..." class="d-block w-100 my-img" alt="..." ></div>
            <div class="carousel-caption">
                <div class="carousel-caption-title">
                    <span>
                        新区头条
                    </span>
                </div>
                <h5>哈尔滨新区入选2020年中国冰雪旅游十强县/区
                    哈尔滨新区智能轨道快运系统1号线项目开工</h5>
                <p> 哈尔滨新区是中国国务院于2015年12月16日批复同意设立。包括哈尔滨市松北区、呼兰区、平房区三区的部分区域，规划面积493平方公里。哈尔滨新区区位条件优越、科技和产业基础比较雄厚、生态环境优良、对俄合作历史悠久、战略地位重要。哈尔滨新区也是中国唯一的以对俄合作为主题的国家级新区和最北部的国家级新区...
                </p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>