<div class="container section">


    <!-- 网格入口开始 -->
    {{> home/grid }}
    <!-- 网格入口结束 -->

    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <p class="h3 my-title-1">政策解读</p>

            <div class="img-fluid my-img" style="background-image: url(/images/img103.png);" alt="..." ></div>

            <ul class="my-list">
                <li class="my-list-item">
                    <p class="h4">
                        <a href="/detail.html">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="/articles.html">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="#">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="#">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>


            </ul>
        </div>

        <div class="col-md-6">
            <!-- 主轮播图 开始 -->
            {{> home/carousel }}
            <!-- 主轮播图 结束 -->
        </div>

        <div class="col-md-3">

            <div class=" duixian">
                <a href="/cash.html" style="width:100%">
                    <button class="btn btn-danger " type="button">
                        我要兑现
                    </button>
                </a>

            </div>
            <div class="my-title-1">双创惠</div>
            <ul class="my-list">
                <li class="my-list-item">
                    <p class="h4">
                        <a href="/detail.html">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="/articles.html">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="/cash.html">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>

                <li class="my-list-item">
                    <p class="h4">
                        <a href="#">
                            图解：哈尔滨新区暨自贸试验区哈尔滨片区关于推动企业进入资本市场实现高质量发展的十条政策措施
                        </a>
                    </p>
                    <p class="time text-end">
                        2021-04-22 10:55:53
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>