<div class="container section home_section_2 ">
    <div class="row">
        <div class="col-5">
            <div class="left">
                <h3 class="section-title">
                    新区发布
                </h3>

                <ul class="my-list">
                    <li class="my-list-item">
                        <p class="h4">
                            <a href="#">
                                哈尔滨新区江北一体发展区贯彻落实促进生物医药产业健康发展若干政策实施办法
                            </a>
                        </p>
                        <p class="time text-end">
                            2021-04-22 10:55:53
                        </p>
                    </li>

                    <li class="my-list-item">
                        <p class="h4">
                            <a href="#">
                                哈尔滨新区江北一体发展区贯彻落实促进生物医药产业健康发展若干政策实施办法
                            </a>
                        </p>
                        <p class="time text-end">
                            2021-04-22 10:55:53
                        </p>
                    </li>

                    <li class="my-list-item">
                        <p class="h4">
                            <a href="#">
                                哈尔滨新区江北一体发展区贯彻落实促进生物医药产业健康发展若干政策实施办法
                            </a>
                        </p>
                        <p class="time text-end">
                            2021-04-22 10:55:53
                        </p>
                    </li>

                    <li class="my-list-item">
                        <p class="h4">
                            <a href="#">
                                哈尔滨新区江北一体发展区贯彻落实促进生物医药产业健康发展若干政策实施办法
                            </a>
                        </p>
                        <p class="time text-end">
                            2021-04-22 10:55:53
                        </p>
                    </li>


                </ul>
            </div>
        </div>

        <div class="col-7">
            <div class="my-img" style="height:100%"></div>
        </div>
    </div>
</div>