<div class="container section home_section_3 ">

    <h3 class="section-title">
        政策惠
        <span class="sub-title">
            国家和省市优惠政策
        </span>
    </h3>
    <div class="row my-card-list">

        {{#each cardList}}
        <div class="col-md-3 my-card-list-item">
            <div class="cover">

            </div>
            <h4 class="h4">
                {{title}}
            </h4>
            <p class="time">
                {{time}}
            </p>
        </div>
        {{/each}}

    </div>
</div>