// @import "bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables";

.my-title-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    border-left: 4px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 14px;

    &::before {
        content: " ";
        width: 8px;
        height: 24px;
        background: #C9000F;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}


.my-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .my-list-item {
        padding: 18px 0;
        border-bottom: 1px #ccc solid;

        .h4 {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 24px;

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .time {
            font-size: 12px;
            font-family: Roboto-Medium, Roboto;
            font-weight: 500;
            color: #666;
            line-height: 14px;
            margin-bottom: 0;
        }
    }

}

.my-img {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: #eee;
    margin-bottom: 14px;
}

.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.my-carousel {

    // background: #ccc;

    .my-img {
        padding-top: 63.7%;
    }

    // border: 1px solid red;
    .carousel-caption {
        color: #000;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // border: 1px red solid;
        padding: 20px;
        padding-bottom: 60px;

        .carousel-caption-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &::after,
            &::before {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background: #C9000F;
                margin: 0 16px;
            }

            span {
                font-size: 14px;
                font-family: Roboto-Bold, Roboto;
                font-weight: bold;
                color: #C9000F;
                line-height: 16px;
                position: relative;
            }

        }

        h5 {
            padding: 24px;
            font-size: 20px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
        }

        p {
            font-size: 14px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
            text-align: left;
        }
    }

    .carousel-indicators {

        // background-color: #ccc;
        button {
            background-color: #ccc;
        }

        .active {
            background-color: #093B99;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: 12px;
        background: #ccc;
    }
}

.my-card-list {
    .my-card-list-item {
        margin-bottom: 24px;
    }

    .cover {
        width: 100%;
        height: 0;
        padding-top: 60%;
        background-color: #eee;
        margin-bottom: 24px;
    }

    .h4 {
        font-size: 17px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #000000;
        line-height: 24px;

    }

    .time {
        text-align: right;
        font-size: 12px;
        font-family: Roboto-Medium, Roboto;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
        line-height: 24px;
        margin: 0;
    }
}

.footer {
    background-color: #093B99;

    padding: 60px;

    .footer-title {
        color: #fff;
        font-size: 24px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #ffffff;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .links {
        display: flex;
        flex-wrap: wrap;

        .link {
            margin-right: 12px;
            margin-bottom: 12px;
        }

        a {
            color: #ffffff;
            font-size: 17px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 24px;
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 60px 20px;
    }
}

.my-list-with-cover {
    list-style: none;
    padding: 0;
    margin: 0;

    .my-list-item {
        padding: 18px 0;
        border-bottom: 1px #ccc solid;

        display: flex;

        .cover {
            width: 200px;
            height: 120px;
            background-color: #eee;
            margin-right: 24px;
            // padding-top: 60%;
        }

        .right {
            flex: 1;
        }

        .h4 {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 24px;
            margin-bottom: 24px;

            a {
                color: #000000;
            }
        }

        .sub-title {
            font-size: 14px;
            font-family: Roboto-Medium, Roboto;
            font-weight: 500;
            color: #666;
            line-height: 1.5em;
            margin-bottom: 0;
        }

    }

}

.my-table-list-header {
    margin-bottom: 12px;
}

.my-table-list {
    list-style: none;
    margin: 0;
    background-color: #fff;
    padding: 20px;

    .my-table-list-item {
        padding: 18px 0;
        // border-bottom: 1px #ccc solid;
        margin-bottom: 24px;
        background-color: #F2F3F7;
        padding: 4px;

        .h4 {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 24px;

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .h5 {
            font-size: 14px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 16px;
        }

        .time {
            font-size: 12px;
            font-family: Roboto-Medium, Roboto;
            font-weight: 500;
            color: #666;
            line-height: 14px;
            margin-bottom: 0;
        }

        .list-item-header {
            padding: 12px;
        }

        .list-item-content,
        .list-item-footer {
            background-color: #ffffff;
            padding: 12px;

        }
    }

}

.btn-icon {
    width: 36px;
    height: 36px;
    padding: 0;
    line-height: 36px;
    text-align: center;
    border-radius: 100px;
}

.my-grid {
    .icon {
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 100px;
        background-color: #eee;
    }

    .label {
        margin-top: 12px;
        font-size: 10px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #000000;
        line-height: 12px;
        white-space: nowrap;
    }
}

.my-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    padding-top: 32px;

    .my-step-item {
        flex: 1;
        position: relative;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 14px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #093B99;
        line-height: 24px;

        .point {
            width: 16px;
            height: 16px;
            border-radius: 8px;
            position: absolute;
            left: 0;
            right: 0;
            top: -25px;
            margin: auto;
            background-color: #093B99;
        }

        &::before {
            content: " ";
            position: absolute;
            top: -20px;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: #093B99;
        }

        &:first-child {
            &::before {
                width: 50%;
                left: 50%;
            }
        }

        &:last-child {
            &::before {
                width: 50%;
                right: 50%;
            }
        }

        &.active {
            .point {
                box-shadow: 0 0 0px 4px rgba(5, 59, 153, 0.2);
            }
        }

        &.active~.my-step-item {
            color: #000000;

            &::before {
                background-color: #E7E7E7;
            }

            .point {
                background-color: #B9B9B9;
            }
        }
    }
}

.my-form-check {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-left: 40px;
    border-radius: 4px;

    .form-check-label {
        width: 100%;
        // border: 1px solid rgba(0, 0, 0, 0.1);
    }

    p {

        font-size: 16px;
        font-family: Roboto-Regular, Roboto;
        font-weight: 400;
        color: #000000;
        line-height: 19px;
    }
}


.my-form-check-2 {
    @extend .my-form-check;

    .label-title {
        margin-bottom: 0px;
        font-size: 16px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #053B99;
        line-height: 30px;

        .btn {
            padding: 2px;
        }

        .btn-link {
            text-decoration: none;

            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
        }
    }
}

.my-file-input {
    height: 156px;
    background: #F2F3F7;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px dashed #053B99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn {
        border-radius: 100px;
    }

    .label {
        color: #999;
        font-size: 12px;
        margin-top: 8px;
    }
}