// @import "bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables";

.my-title-1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    border-left: 4px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 14px;

    &::before {
        content: " ";
        width: 8px;
        height: 24px;
        background: #C9000F;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}


.my-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .my-list-item {
        padding: 18px 0;
        border-bottom: 1px #ccc solid;

        .h4 {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 24px;

            a {
                text-decoration: none;
                color: #000000;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .time {
            font-size: 12px;
            font-family: Roboto-Medium, Roboto;
            font-weight: 500;
            color: #666;
            line-height: 14px;
            margin-bottom: 0;
        }
    }

}

.my-img {
    display: inline-block;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: #eee;
    margin-bottom: 14px;
}

.section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.my-carousel {

    // background: #ccc;

    .my-img {
        padding-top: 63.7%;
    }

    // border: 1px solid red;
    .carousel-caption {
        color: #000;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // border: 1px red solid;
        padding: 20px;
        padding-bottom: 60px;

        .carousel-caption-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &::after,
            &::before {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background: #C9000F;
                margin: 0 16px;
            }

            span {
                font-size: 14px;
                font-family: Roboto-Bold, Roboto;
                font-weight: bold;
                color: #C9000F;
                line-height: 16px;
                position: relative;
            }

        }

        h5 {
            padding: 24px;
            font-size: 20px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
        }

        p {
            font-size: 14px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
            text-align: left;
        }
    }

    .carousel-indicators {

        // background-color: #ccc;
        button {
            background-color: #ccc;
        }

        .active {
            background-color: #093B99;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: 12px;
        background: #ccc;
    }
}

.my-card-list {
    .cover {
        width: 100%;
        height: 0;
        padding-top: 60%;
        background-color: #eee;
        margin-bottom: 24px;
    }

    .h4 {
        font-size: 17px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #000000;
        line-height: 24px;

    }

    .time {
        text-align: right;
        font-size: 12px;
        font-family: Roboto-Medium, Roboto;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.6);
        line-height: 24px;
        margin: 0;
    }
}

.footer {
    background-color: #093B99;

    padding: 60px;

    .footer-title {
        color: #fff;
        font-size: 24px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #ffffff;
        line-height: 24px;
        margin-bottom: 24px;
    }

    .links {
        display: flex;

        .link {
            margin-right: 12px;
        }

        a {
            color: #ffffff;
            font-size: 17px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #FFFFFF;
            line-height: 24px;
        }
    }
}

.my-list-with-cover {
    list-style: none;
    padding: 0;
    margin: 0;

    .my-list-item {
        padding: 18px 0;
        border-bottom: 1px #ccc solid;

        display: flex;

        .cover {
            width: 200px;
            height: 120px;
            background-color: #eee;
            margin-right: 24px;
            // padding-top: 60%;
        }

        .right {
            flex: 1;
        }

        .h4 {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 24px;
            margin-bottom: 24px;

            a {
                color: #000000;
            }
        }

        .sub-title {
            font-size: 14px;
            font-family: Roboto-Medium, Roboto;
            font-weight: 500;
            color: #666;
            line-height: 1.5em;
            margin-bottom: 0;
        }

    }

}