body {
    font-family: Roboto-Regular, Roboto;
    min-width: 1000px;
}

.logo {
    width: 100px;
    height: 100px;
    background: #eee;
}

.home_page_header {
    height: 546px;
    background-color: #eee;
    position: relative;
    margin-bottom: 42px;

    .search {
        width: 700px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 400px;

        .form-select {
            display: block;
            background: #093B99;
            border: 0;
            border-radius: 0;
            color: #ffffff;
            height: 84px;
            width: 184px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;

            text-align: center;
        }

        input.form-control {
            width: 100%;
            flex: 1;
            border-radius: 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;
        }
    }
}

.search-container {
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

.duixian {
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #093B99;

    .btn {
        width: 100%;
        display: block;
        height: 48px;
    }

    margin-bottom: 40px;
}

.home_section_2 {
    .left {
        background-color: #093B99;
        padding: 40px;
        overflow: hidden;

        .my-list {
            .my-list-item {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                position: relative;

                .h4 {


                    a {

                        color: #fff;
                    }
                }

                .time {

                    color: rgba(255, 255, 255, 0.6)
                }

                &:hover::before {
                    // transform: translateZ(-1px);
                    content: " ";
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    width: 150%;
                    height: 100%;
                    top: 0;
                    left: -40px;
                    z-index: -0;
                }

                &:hover {
                    .h4 {
                        z-index: 2;
                        position: relative;

                        a {
                            color: #093B99;

                        }
                    }

                    .time {
                        z-index: 2;
                        position: relative;
                        color: #093B99;
                    }
                }

            }

        }
    }

    .section-title {
        width: 144px;
        height: 42px;
        font-size: 36px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 42px;
        position: relative;
        margin-bottom: 70px;

        &::after {
            content: " ";
            background: red;
            position: absolute;
            width: 84px;
            height: 4px;
            left: 0;
            bottom: -24px;
            z-index: -0;
        }
    }
}

.home_section_3 {
    .section-title {
        font-size: 36px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #000000;
        line-height: 42px;

        display: flex;
        align-items: center;

        margin-bottom: 40px;

        .sub-title {
            margin-left: 24px;
            padding-left: 24px;
            border-left: 1px #000 solid;
            font-size: 24px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 28px;
        }
    }
}