.logo {
    width: 100px;
    height: 100px;
    background: #999;
}

.home_page_header {
    height: 600px;
    background-color: #789;
    position: relative;

    .search {
        width: 700px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 400px;

        .form-select {
            display: block;
            background: #093B99;
            border: 0;
            border-radius: 0;
            color: #ffffff;
            height: 84px;
            width: 184px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;

            text-align: center;
        }

        input.form-control {
            width: 100%;
            flex: 1;
            border-radius: 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;
        }
    }
}

.search-container {
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}