@import './theme.scss';
@import './common.scss';


body {
    font-family: Roboto-Regular, Roboto;
    overflow-x: hidden;
}

.home_page_header {
    height: 546px;
    background-color: #eee;
    position: relative;
    margin-bottom: 102px;

    .home-nav {
        width: 100%;
        margin-top: 24px;
    }

    .logo {
        width: 100px;
        height: 100px;
        background-color: #ccc;
    }

    .search {
        width: 100%;
        margin: auto;
        max-width: 700px;
        line-height: 28px;
        font-weight: 400px;
        box-shadow: 0px 4px 4px 1px rgba(8, 59, 153, 0.10000000149011612);

        .form-select,
        .select-value {
            display: block;
            background: #093B99;
            border: 0;
            border-radius: 0;
            color: #ffffff;
            height: 84px;
            width: 184px;
            line-height: 28px;
            font-weight: 400px;
            text-align: center;
            padding: 0;
            font-size: 24px;
            line-height: 84px;
        }

        .form-select {
            position: relative;
            opacity: 0;
        }

        .my-select {
            position: relative;

            .select-value {
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0px;
                content: "搜索";
                width: 100%;
                height: 100%;
                // border: 1px red solid;
                background-color: #093B99;
                color: #ffffff;
            }
        }

        input.form-control {
            width: 100%;
            flex: 1;
            border-radius: 0;
            line-height: 28px;
            font-weight: 400px;
            font-size: 24px;
        }
    }

    @include media-breakpoint-down(sm) {
        height: 216px;
        margin-bottom: 00px;

        .search-box {
            padding: 0 40px;
        }

        .search {
            max-width: none;

            .form-select,
            .select-value {
                height: 44px;
                width: 67px;
                font-size: 17px;
                line-height: 44px;

            }

            input.form-control {
                font-size: 17px;
            }
        }
    }

    .offcanvas {
        transition: transform 0.2s ease-in-out;

        .list-group-item {
            text-align: center;
        }
    }

    .offcanvas-end {
        width: 248px;
    }
}

.search-container {
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;

    @include media-breakpoint-down(sm) {
        bottom: -22px;
    }
}

.duixian {
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #093B99;

    .btn {
        width: 100%;
        display: block;
        height: 48px;
    }

    margin-bottom: 40px;
}

.home_section_2 {
    .left {
        background-color: #093B99;
        padding: 40px;
        overflow: hidden;

        .my-list {
            .my-list-item {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                position: relative;

                .h4 {


                    a {

                        color: #fff;
                    }
                }

                .time {

                    color: rgba(255, 255, 255, 0.6)
                }

                &:hover::before {
                    // transform: translateZ(-1px);
                    content: " ";
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    width: 150%;
                    height: 100%;
                    top: 0;
                    left: -40px;
                    z-index: -0;
                }

                &:hover {
                    .h4 {
                        z-index: 2;
                        position: relative;

                        a {
                            color: #093B99;

                        }
                    }

                    .time {
                        z-index: 2;
                        position: relative;
                        color: #093B99;
                    }
                }

            }

        }
    }

    .section-title {
        width: 144px;
        height: 42px;
        font-size: 36px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 42px;
        position: relative;
        margin-bottom: 70px;

        &::after {
            content: " ";
            background: red;
            position: absolute;
            width: 84px;
            height: 4px;
            left: 0;
            bottom: -24px;
            z-index: -0;
        }
    }
}

.home_section_3 {
    .section-title {
        font-size: 36px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #000000;
        line-height: 42px;

        display: flex;
        align-items: center;

        margin-bottom: 40px;

        .sub-title {
            margin-left: 24px;
            padding-left: 24px;
            border-left: 1px #000 solid;
            font-size: 24px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 28px;
        }
    }

    @include media-breakpoint-down(sm) {
        .section-title {
            font-size: 24px;

            .sub-title {
                font-size: 16px;
                line-height: 20px;

            }
        }
    }
}

.detail_page {
    .content {
        .article-title {
            font-size: 36px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000000;
            line-height: 42px;
        }

        .article-tags {
            display: flex;
            margin-top: 24px;

            .article-tag {
                font-size: 14px;
                font-family: Roboto-Regular, Roboto;
                font-weight: 400;
                color: #000000;
                line-height: 16px;
                position: relative;
                padding-left: 24px;
                margin-right: 24px;

                &::before {
                    content: " ";
                    width: 15px;
                    height: 15px;
                    background: #ccc;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    border-radius: 100px;
                }
            }
        }

        .article-content {
            margin: 100px 0;
            // max-width: 600px;

            h1 {
                font-size: 36px;
                font-family: Roboto-Regular, Roboto;
                font-weight: 400;
                color: #000000;
                line-height: 42px;
            }
        }
    }
}

.profile-header-mobile {
    background-color: #093B99;

    .logo {
        width: 133px;
        height: 133px;
    }

    .user {
        display: flex;
        align-items: center;
        padding: 12px 0;

        .nickname {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #FEFEFE;
            line-height: 20px;
            margin-right: 12px;
        }

        .avatar {
            width: 36px;
            height: 36px;
            background-color: #eee;
            border-radius: 36px;
        }
    }
}

.profile-nav-tabs {
    .nav-tabs {
        width: auto;
        flex-wrap: nowrap;
        border-bottom: none;
    }

    .nav-item {
        margin-right: 1px;
        background-color: rgba(255, 255, 255, 0.7);
        word-break: nowrap;
        white-space: nowrap;

        a {
            padding: 14px 16px;
            color: #093B99 !important;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        height: 54px;
        padding: 0;
        overflow-x: auto;
    }
}


.profile_page {
    @include media-breakpoint-down(sm) {
        .section {
            margin: 24px 0;
        }
    }
}



.profile-side {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #053B99;
    height: 100vh;
    width: 262px;
    z-index: 99;

    .title {
        font-size: 24px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 28px;
        text-align: center;
        margin-bottom: 60px;
    }

    .logo {
        width: 132px;
        height: 132px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .nav-list {
        list-style: none;
        padding: 0;

        .nav-item {
            height: 44px;
            margin-bottom: 20px;
            border-radius: 4px;
            transition: background-color 0.3s;

            &.active {
                background-color: #8FB2EE;
            }

            &:hover {
                background-color: #8FB2EE;
            }

            a {
                color: #fff;
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                line-height: 44px;
                padding-left: 20px;
                text-decoration: none;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.profile-header-pc {
    background-color: #fff;

    .user {
        display: flex;
        align-items: center;
        padding: 12px 0;
        border-left: 1px solid #ccc;
        padding-left: 24px;

        .nickname {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #000;
            line-height: 20px;
            margin-right: 12px;
        }

        .avatar {
            width: 36px;
            height: 36px;
            background-color: #eee;
            border-radius: 36px;
        }
    }
}

.profile_page {
    background-color: #F7F7F7;
    padding-left: 262px;

    .page-title {
        padding-left: 12px;

        position: relative;

        height: 20px;
        font-size: 17px;
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
        color: #000000;
        line-height: 20px;


        &::before {
            content: " ";
            width: 5px;
            height: 16px;
            background: #053B99;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .profile-header-mobile {
        display: none;
    }

    .profile-header-pc {
        display: block;
    }

    @include media-breakpoint-up(sm) {
        .footer {
            background-color: #ffffff;

            .footer-title {
                color: #333;
            }

            a {
                color: #333;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding-left: 0;

        .profile-side {
            display: none;
        }

        .profile-header-mobile {
            display: block;
        }

        .profile-header-pc {
            display: none;
        }

        .my-table-list-header {
            display: none;
        }

        .my-table-list {
            background-color: #fff;
            padding: 20px;
        }

        .content {
            padding: 0;
            margin: 0;
        }
    }
}

.create-header {
    background-color: #053B99;

    .user {
        display: flex;
        align-items: center;
        padding: 12px 0;
        padding-left: 24px;
        height: 104px;

        .nickname {
            font-size: 17px;
            font-family: Roboto-Bold, Roboto;
            font-weight: bold;
            color: #ffffff;
            line-height: 20px;
            margin-right: 12px;
        }

        .avatar {
            width: 36px;
            height: 36px;
            background-color: #eee;
            border-radius: 36px;
        }
    }
}

.create_page {
    background-color: #f2f2f2;
    .paper {
        background-color: #ffffff;
        padding: 60px;
        height: calc(100vh - 104px);
        overflow: scroll;
        padding-bottom: 200px;

        .form {
            max-width: 600px;
            margin: auto;

            .form-control {
                line-height: 2;
            }

            .foot {
                .btn {
                    padding-left: 36px;
                    padding-right: 36px;
                }
            }

            .file {
                height: 156px;
                background: #F2F3F7;
                border-radius: 4px 4px 4px 4px;
                opacity: 1;
                border: 1px dashed #053B99;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .btn {
                    border-radius: 100px;
                }

                .label {
                    color: #999;
                    font-size: 12px;
                    margin-top: 8px;
                }
            }
        }
    }


    @include media-breakpoint-down(sm) {

        padding-top: 16px;

        .paper {
            padding-left: 16px;
            padding-right: 16px;

        }

    }
}

.create_page {
    .my-step {
        margin-bottom: 60px;
    }
}