body {
    font-family: Roboto-Regular, Roboto;
}

.logo {
    width: 100px;
    height: 100px;
    background: #999;
}

.home_page_header {
    height: 546px;
    background-color: #999;
    position: relative;
    margin-bottom: 42px;

    .search {
        width: 700px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 400px;

        .form-select {
            display: block;
            background: #093B99;
            border: 0;
            border-radius: 0;
            color: #ffffff;
            height: 84px;
            width: 184px;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;

            text-align: center;
        }

        input.form-control {
            width: 100%;
            flex: 1;
            border-radius: 0;
            font-size: 24px;
            line-height: 28px;
            font-weight: 400px;
        }
    }
}

.search-container {
    position: absolute;
    bottom: -42px;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
}

.duixian {
    height: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #093B99;

    .btn {
        width: 100%;
        display: block;
        height: 48px;
    }

    margin-bottom: 40px;
}

.my-carousel {

    // background: #ccc;

    .my-img {
        padding-top: 63.7%;
    }

    // border: 1px solid red;
    .carousel-caption {
        color: #000;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        // border: 1px red solid;
        padding: 20px;
        padding-bottom: 60px;

        .carousel-caption-title {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &::after,
            &::before {
                content: "";
                display: block;
                width: 40px;
                height: 2px;
                background: #C9000F;
                margin: 0 16px;
            }

            span {
                font-size: 14px;
                font-family: Roboto-Bold, Roboto;
                font-weight: bold;
                color: #C9000F;
                line-height: 16px;
                position: relative;
            }

        }

        h5 {
            padding: 24px;
            font-size: 20px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
        }

        p {
            font-size: 14px;
            font-family: Roboto-Regular, Roboto;
            font-weight: 400;
            color: #000000;
            line-height: 24px;
            text-align: left;
        }
    }

    .carousel-indicators {
        // background-color: #ccc;
        button {
            background-color:#ccc;
        }
        .active {
            background-color:#093B99;
        }
    }

    .carousel-control-prev, .carousel-control-next {
        top: auto;
        bottom: 12px;
        background: #ccc;
    }
}